<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="EasyTranslate_Connector::projects"
             title="EasyTranslate Projects"
             parent="Magento_Integration::system_extensions"
             translate="title"
             module="EasyTranslate_Connector"
             sortOrder="50"
             action="easytranslate/project"
             resource="EasyTranslate_Connector::Project_read"
        />
    </menu>
</config>
