<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="easytranslate" translate="label" type="text" sortOrder="102" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>EasyTranslate Connector</label>
            <tab>service</tab>
            <resource>EasyTranslate_Connector::Configuration</resource>
            <group id="api" translate="label" type="text" sortOrder="10" showInDefault="1">
                <label>API</label>
                <field id="environment" translate="label" type="select" sortOrder="20" showInDefault="1">
                    <label>Environment</label>
                    <source_model>EasyTranslate\Connector\Model\Adminhtml\Source\Environment</source_model>
                </field>
                <field id="client_id" translate="label comment" type="text" sortOrder="30" showInDefault="1">
                    <label>Client ID</label>
                    <comment>You can find it in your EasyTranslate account under Settings > API</comment>
                </field>
                <field id="client_secret" translate="label comment" type="obscure" sortOrder="40" showInDefault="1">
                    <label>Client Secret</label>
                    <comment>You can find it in your EasyTranslate account under Settings > API</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="username" translate="label comment" type="text" sortOrder="50" showInDefault="1">
                    <label>User Name</label>
                    <comment>Enter the same credentials you use for the EasyTranslate platform</comment>
                </field>
                <field id="password" translate="label comment" type="obscure" sortOrder="60" showInDefault="1">
                    <label>Password</label>
                    <comment>Enter the same credentials you use for the EasyTranslate platform</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>
            <group id="products" translate="label" type="text" sortOrder="10" showInDefault="1">
                <label>Products</label>
                <field id="attributes" translate="label comment" type="multiselect" sortOrder="10" showInDefault="1">
                    <label>Attributes</label>
                    <comment>Select the product attributes, which should be translated</comment>
                    <source_model>EasyTranslate\Connector\Model\Adminhtml\Source\ProductAttributes</source_model>
                </field>
            </group>
            <group id="categories" translate="label" type="text" sortOrder="10" showInDefault="1">
                <label>Categories</label>
                <field id="attributes" translate="label comment" type="multiselect" sortOrder="10" showInDefault="1">
                    <label>Attributes</label>
                    <comment>Select the category attributes, which should be translated</comment>
                    <source_model>EasyTranslate\Connector\Model\Adminhtml\Source\CategoryAttributes</source_model>
                </field>
            </group>
            <group id="cms_blocks" translate="label" type="text" sortOrder="10" showInDefault="1">
                <label>CMS Blocks</label>
                <field id="attributes" translate="label comment" type="multiselect" sortOrder="10" showInDefault="1">
                    <label>Attributes</label>
                    <comment>Select the CMS block attributes, which should be translated</comment>
                    <source_model>EasyTranslate\Connector\Model\Adminhtml\Source\CmsBlockAttributes</source_model>
                </field>
            </group>
            <group id="cms_pages" translate="label" type="text" sortOrder="10" showInDefault="1">
                <label>CMS Pages</label>
                <field id="attributes" translate="label comment" type="multiselect" sortOrder="10" showInDefault="1">
                    <label>Attributes</label>
                    <comment>Select the CMS page attributes, which should be translated</comment>
                    <source_model>EasyTranslate\Connector\Model\Adminhtml\Source\CmsPageAttributes</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
